<!DOCTYPE html>
<html>

<head>
  <title>Horizon</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  {% include 'nav.html' %}
<!--   <header>
    <div class="container">
      <h1 class = "display-2 text-center">Horizon</h1>
    </div>
  </header> -->

  <section id="hero">
    {% include 'hero.html' %}
  </section>

  <section>
    {% include 'features.html' %}
  </section>


  <section id="about">
    <div class="container">
      <h2 class="display-4 text-center">About Horizon Travel</h2>
      <p>Horizon aims to revolutionize the travel industry in India by providing innovative and personalized travel experiences. Our mission is to make travel more accessible, affordable, and sustainable for all.</p>
    </div>
  </section>

  <section id="footer">
   {% include 'footer.html' %}
</section>


</body>

</html>